flask
torch
transformers
langchain
langchain-community
langchain-huggingface
sentence-transformers
faiss-cpu
bitsandbytes
accelerate
duckduckgo_search
librosa
soundfile
ffmpeg-python
fpdf
python-docx
